<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>

		<!-- Datasource Details -->
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/db_orders
		</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>

		<!-- Hibernate Properties -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>

		<!-- Resource Mapping -->
		<mapping class="HDMRORDERS.DB.DOMAIN.Orders" />
		<mapping class="HDMRORDERS.DB.DOMAIN.Items" />

	</session-factory>
</hibernate-configuration>